@model Comercio.Models.ProdutoViewModel
@{
    ViewData["Title"] = "Produto/detalhes";
}

<h1 class="display-4">NOVO PRODUTO</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div class="form-group">
                <label><strong>CÓDIGO</strong></label>
                <input asp-for="Codigo" class="form-control" />
                <span><strong asp-validation-for="Codigo" class="text-danger"></strong></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label><strong>DESCRIÇÃO</strong></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>CUSTO</strong></label>
                <input asp-for="Preco_custo" class="form-control" />
                <span asp-validation-for="Preco_custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>VENDA</strong></label>
                <input asp-for="Preco_venda" class="form-control" />
                <span asp-validation-for="Preco_venda" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>SETOR</strong></label>
                <select asp-for="Setor" asp-items="Html.GetEnumSelectList<Comercio.Enum.Setores>()" class="form-control">
                    <option selected="selected" value="">Setores</option>
                </select>
                <span asp-validation-for="Setor" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="" onClick="history.go(-1); return false;" class="btn btn-info btn-sm"> VOLTAR</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
