@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ERRO!</h1>
<h2 class="text-danger">Um erro ocorreu durante o processamento da sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mensagem: </h3>@Model.Mensagem

<h3>Status Code: </h3>@Model.StatusCode
<p>
    <strong>Para maiores informações entre em contato com o administrador do sistema.</strong>    
</p>
