@model Comercio.Models.EnderecoFornecedorViewModel

@{
    ViewData["Title"] = "fornecedor/editar-endereco";
}

<h2>ALTERAR ENDEREÇO DO FORNECEDOR</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="editar-endereco" asp-route-fornecedor_id="@Model.Fornecedor_id" asp-route-endereco_id="@Model.Endereco_id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" />
            <div class="form-group">
                <label><strong>LOGRADOURO</strong></label>
                <input asp-for="Logradouro" class="form-control" />
                <span><strong asp-validation-for="Logradouro" class="text-danger"></strong></span>
            </div>
            <div class="form-group">
                <label><strong>NÚMERO</strong></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>COMPLEMENTO</strong></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>CEP</strong></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>BAIRRO</strong></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>CIDADE</strong></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>ESTADO</strong></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>UF</strong></label>
                <input asp-for="UF" class="form-control" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>TIPO</strong></label>
                <select asp-for="Tipo_endereco" asp-items="@Model.TiposEnderecoBanco" class="form-control">
                </select>
                <span asp-validation-for="Tipo_endereco" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-success" />
                @*Botão para modal ExcluirEndereco*@
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluirEndereco">EXCLUIR</button>
            </div>
        </form>
    </div>
</div>
<hr />

<div>
    <a href="" onClick="history.go(-1); return false;" class="btn btn-info btn-sm"> VOLTAR</a>
</div>

<!-- Modal ExcluirEndereco-->
<div class="modal fade" id="modalExcluirEndereco" tabindex="-1" role="dialog" aria-labelledby="modalExcluirEnderecoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExcluirEnderecoLabel">EXCLUIR ENDEREÇO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                TEM CERTEZA QUE DESEJA EXCLUIR ESSE ENDEREÇO ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CANCELAR</button>
                <a asp-controller="Fornecedor" asp-action="excluir-endereco" asp-route-fornecedor_id=@Model.Fornecedor_id asp-route-endereco_id=@Model.Endereco_id class="btn btn-danger btn-sm">EXCLUIR</a>
            </div>
            </div>
        </div>
    </div>
    @*@section Scripts {
            @{await Html.RenderPartialAsynContial");}
        }*@


