@{
    ViewData["Title"] = "Fornecedor/index";
}

<h4 class="display-4">FORNECEDOR</h4>

<hr />
<div class="col">
    <a asp-controller="Fornecedor" asp-action="inserir" class="btn btn-outline-primary btn-lg"><strong>NOVO</strong></a>
</div>
<hr />

<hr />
<div class="col">
    <a asp-controller="Fornecedor" asp-action="filtro" class="btn btn-outline-primary btn-lg"><strong>BUSCA</strong></a>
</div>
<hr />
