@model IEnumerable<Comercio.Models.SetorViewModel>
@{
    ViewData["Title"] = "Setor/index";
}

<div class="align-bottom">
    <div>
        <h4 class="display-4">SETORES</h4>
    </div>
    <div>
        <a asp-controller="Setor" asp-action="novo" class="btn btn-danger"><strong>NOVO</strong></a>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h5> @Html.DisplayFor(modelItem => item.Descricao)</h5>
                </td>
                <td>
                    <a asp-controller="Setor" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-success"> EDITAR</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<div>
    <a href="" onClick="history.go(-1); return false;" class="btn btn-info btn-sm"> VOLTAR</a>
</div>